.div1 {
    width: 200px;
    height: 200px;
    background-color: rgb(230, 15, 15);
}
.div2 {
    width: 200px;
    height: 200px;
    background-color: rgb(54, 14, 216);
    visibility: visible;
}
.div3 {
    width: 200px;
    height: 200px;
    background-color: rgb(151, 185, 28);
}
.div4 {
    width: 200px;
    height: 200px;
    background-color: rgb(61, 226, 96);
}

.invisible{
    visibility:hidden;
}
.bandereau{
    height:200px;
    top: 15px;
    display: flex;
    justify-content: space-between;
}